// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration: none;
}

/*index*/
/*left*/
.user{
  width: 300px;
  height: 100%;
  background: white;
  float: left;
  box-shadow: -5px 0px 50px -15px #333;
  position: fixed;
}

.user_right{
  width: auto;
  height: auto;
  padding-top: 50px;
  display: flex;
  flex-basis: auto;
  margin-left: 325px;
}

.user li{
  list-style: none;
}

.user_icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(noimage.png);
  background-size: contain;
  border-radius: 50%;
}

.icon_wrapper{
  position: relative;
  padding: 50px 50px 0 50px;
}

.user_name{
  display: inline-block;
  width: 120px;
  height: auto;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:75;
  left: 135px;
}

.new_button{
  margin: 0 50px;
}

.user_info li{
  display: inline-block;
  width: 97px;
  height: auto;
  line-height: 25px;
}

.user_info li img{
  margin-right: 5px;
}

.user_info{
  padding: 50px 50px 15px;
  margin: 0;
}

.user_navigations{
  margin-top: 50px;
  padding: 0;
}

.user_navigations li{
  width: 300px;
  height: 65px;
  line-height: 60px;
  padding-left: 50px;
}

.user_navigations li:hover:before {
    background-color: #6FBC92; /* 線色 */
    border-radius: 10px; /* 線幅の半分 */
    content: "";
    display: inline-block;
    height: 60px; /* 線の長さ */
    margin-right: 10px; /* 線右の余白 */
    vertical-align: middle;
    width: 16px;
    position: absolute;
    left: -8px;
}

/*right*/
.mine_tytle{
  position: relative;
  padding-left: 25px;
  display: inline-block;
  margin-left: 12px;
}

.mine_tytle:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #666;
}

.mine_tytle:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #666;
}

.mine{
  width: 100%;
  height: auto;
}

.mine_post{
  display: inline-block;
  width: 46%;
  height: 200px;
  margin: 0.5em;
  border-radius: 16px;
  border: 1px solid #979797;
  background-image: url(overlay.png), url(noimage.png);
  opacity: 50%;
  background-size: contain;
  line-height: 200px;
  text-align: center;
}

.post_name{
  text-align: center;
}

.post_edit{
  color: white;
}

.mine_contents{
  margin-top: 15px;
}

.clear{
  clear: both;
}

/*footer*/

.footer{
  margin-top: 100px;
  padding-left: 50px;
  line-height: 30px;
}


/*new*/

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}



/*show*/

/*全体かっこているdivのクラス
---------------------------*/
.timeline_content_wrapper{
	display: inline-flex;
	padding-top: 200px;
}

/*各画像を囲っているdivのクラス
---------------------------*/

.tytle{
	margin-top: 150px;
    margin-left: -200px;
}

.timeline_content:nth-of-type(4n+1){
	margin-top: 0;
margin-left: -80px;
}

.timeline_content:nth-of-type(4n+2){
	margin-left: -300px;
margin-top: 300px;
}

.timeline_content:nth-of-type(4n+3){
	margin-left: -80px;
margin-top: 150px;
}

.timeline_content:nth-of-type(4n){
	margin-top: 450px;
    margin-left: -300px;
}


/*文字の基準となるdivのクラス
---------------------------*/
.box01{
	position: relative;
}



/*もともとの記述内容
---------------------------*/
.image_name{
	display: inline-block;
	background: #333;
	height: 300px;
	width: 300px;
	clip-path: polygon(30% 5%, 70% 5%, 100% 50%, 70% 95%, 30% 95%, 0 50%);
}

.image_name img{
  object-fit: cover;
      height: 300px;
}

.text{
	position: absolute;
    height: 100px;
    width: 300px;
    margin: -200px auto;
    text-align: center;
    line-height: 100px;
	color: #fff;
	font-weight: bold;
  font-size: 20px;
letter-spacing: 10px;
}


.timeline_content:nth-of-type(4n+1) .year{
	position: absolute;
	height: 30px;
	width: auto;
  border-radius: 50%;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 0px;
left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.timeline_content:nth-of-type(4n+2) .year{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 270px;
	left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.timeline_content:nth-of-type(4n+3) .year{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 0px;
	left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.timeline_content:nth-of-type(4n) .year{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 270px;
	left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}



.timeline_content:nth-of-type(4n+1) .inform{
  display: block;
color: #333;
font-size: 12px;
width: 200px;
height: 30px;
margin: 0 50px;
text-align: center;
line-height: 22px;
position: absolute;
bottom: 500;
}

.timeline_content:nth-of-type(4n+2) .inform{
  display: block;
color: #333;
font-size: 12px;
width: 200px;
height: 30px;
margin: 50px 50px;
text-align: center;
line-height: 22px;
}

.timeline_content:nth-of-type(4n+3) .inform{
  display: block;
color: #333;
font-size: 12px;
width: 200px;
height: 30px;
margin: 0 50px;
text-align: center;
line-height: 22px;
position: absolute;
bottom: 500;
}

.timeline_content:nth-of-type(4n) .inform{
  display: block;
color: #333;
font-size: 12px;
width: 200px;
height: 30px;
margin: 50px 50px;
text-align: center;
line-height: 22px;
}

.inform{
  display: none;
}
