// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通*/
.header{
	background-color: #6FBC92;
	width: 100%;
	height: 50px;
	clear: both;
	vertical-align: middle;
}

.header_left{
	float: left;
}

.header_right{
	float: right;
}

.header li{
	display: inline-block;
	line-height: 50px;
}

/*tweets/new*/

/*tweets/index*/
.content_wrapper{
	display: flex;
}

.contents:nth-child(2n+1){
	text-align: center;
    width: 300px;
    height: 600px;
    display: inline-block;
}

.contents:nth-child(2n){
	text-align: center;
    width: 300px;
    height: 600px;
    display: inline-block;
		display: inline-flex;                    /* flexコンテナ化 */
   	flex-direction: column-reverse;
}

.border{
	width: 300px;
    height: 50px;
    background: #FF0004;
		border: none !important;
}

.inform{
    height: 175px;
    vertical-align: middle;
		padding: 30px;
	}

.year{
	font-size: 45px;
    height: 100px;
		padding: 40px 0 20px 0;
}

.image_name{
    background: #333;
    width: 300px;
    height: 275px;
		border-radius: 50%;
		object-fit: cover;
}
