// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通*/
.header{
	background-color: #6FBC92;
	width: 100%;
	height: 50px;
	clear: both;
	vertical-align: middle;
}

.header_left{
	float: left;
}

.header_right{
	float: right;
}

.header li{
	display: inline-block;
	line-height: 50px;
}

/*tweets/new*/



/*tweets/index*/
.content_wrapper{
	display: flex;
}

.contents:nth-child(2n+1){
	text-align: center;
    width: 300px;
    height: 600px;
    display: inline-block;
}

.contents:nth-child(2n){
	text-align: center;
    width: 300px;
    height: 600px;
    display: inline-block;
		display: inline-flex;                    /* flexコンテナ化 */
   	flex-direction: column-reverse;
}

.border{
	width: 300px;
    height: 50px;
    background: #FF0004;
		border: none !important;
}

.inform{
    height: 175px;
    vertical-align: middle;
		padding: 30px;
	}

.year{
	font-size: 45px;
    height: 100px;
		padding: 40px 0 20px 0;
}

.image_name{
    background: #333;
    width: 300px;
    height: 275px;
		border-radius: 50%;
		object-fit: cover;
}











/*tweets/index*2/

/*全体かっこているdivのクラス
---------------------------*/
.content2_wrapper{
	display: inline-flex;
	padding-top: 50px;
}

.wrapper2{
	display: inline-block;
}

/*各画像を囲っているdivのクラス
---------------------------*/

.tytle2{
	margin-top: 150px;
    margin-left: -150px;
}

.content:nth-of-type(4n+1){
	margin-top: 0;
margin-left: -80px;
}

.content:nth-of-type(4n+2){
	margin-left: -300px;
margin-top: 300px;
}

.content:nth-of-type(4n+3){
	margin-left: -80px;
margin-top: 150px;
}

.content:nth-of-type(4n){
	margin-top: 450px;
    margin-left: -300px;
}


/*文字の基準となるdivのクラス
---------------------------*/
.box01{
	position: relative;
}



/*もともとの記述内容
---------------------------*/
.image_name2{
	display: inline-block;
	background: #333;
	height: 300px;
	width: 300px;
	clip-path: polygon(30% 5%, 70% 5%, 100% 50%, 70% 95%, 30% 95%, 0 50%);
}

.text2{
	position: absolute;
    height: 100px;
    width: 300px;
    margin: -200px auto;
    text-align: center;
    line-height: 100px;
	color: #fff;
	font-weight: bold;
    font-size: 25px;
}


.content:nth-of-type(4n+1) .year2{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 15px;
left: 90px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.content:nth-of-type(4n+2) .year2{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 270px;
	left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.content:nth-of-type(4n+3) .year2{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 0px;
	left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.content:nth-of-type(4n) .year2{
	position: absolute;
	height: 30px;
	width: auto;
	padding: 0 10px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	top: 270px;
	left: 75px;
	background-color: #C2C3D5;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}



.content:nth-of-type(4n+1) .inform2:hover{
	display: block;
    color: red;
    font-size: 30px;
		width: 300px;
height: 300px;
margin: -360px 0;
text-align: center;
line-height: 90px;
}

.content:nth-of-type(4n+2) .inform2:hover{
	display: block;
    color: red;
    font-size: 30px;
		width: 300px;
height: 300px;
    margin: -20px 0;
text-align: center;
line-height: 90px;
}

.content:nth-of-type(4n+3) .inform2:hover{
	display: block;
    color: red;
    font-size: 30px;
		width: 300px;
height: 300px;
margin: -360px 0;
text-align: center;
line-height: 90px;
}

.content:nth-of-type(4n) .inform2:hover{
	display: block;
    color: red;
    font-size: 30px;
		width: 300px;
height: 300px;
margin: -360px 0;
text-align: center;
line-height: 90px;
}

.content .inform2{
	display: none;
}
